@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  /* .font-montserrate {
    font-family: 'Poppins', sans-serif;
} */
.font-montserate {
  font-family: 'Montserrat', sans-serif;
}
 /* #__next{
    overflow-x: hidden;
  } */

  .step-indicator .MuiSvgIcon-fontSizeMedium {
    color: #000 ;
  }
  .step-indicator .Mui-completed .MuiSvgIcon-fontSizeMedium,
  .step-indicator .MuiSvgIcon-fontSizeMedium.Mui-active {
    color: #f8a500;
  }
  .MuiStepper-root.MuiStepper-horizontal {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.slick-slider button::before {
  padding: 10px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-image: url(/assets/images/pre-icon.svg);
  border-radius: 60px;
  font-size: 0;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  box-shadow: -7px 0px 20px rgba(0, 0, 0, 0.09);
  transition: all 0.5s;
  opacity: 1;
  position: absolute;
}
.bg-service button.slick-prev:before {
  left: 0;
}
.slick-slider button.slick-next::before {
  transform: rotate(180deg);
  right:0;
}
.slick-slider button:hover::before { 
  background-color: #f8a500;
}
.slick-slide .bg-white{
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.slick-slide .bg-white:hover {
  border-color: #f8a500;
}
button.slick-arrow.slick-prev {
  left: 20px;
  z-index: 9;
}
button.slick-arrow.slick-next {
  right: 48px;
}

.MuiBox-root.css-1wnsr1i {
  border: none;
  border-radius: 10px;
  text-align: center;
}


.customtext-box .ql-toolbar.ql-snow {
  border-top: unset;
  border-left: unset;
  border-right: unset;
}
.customtext-box .ql-container.ql-snow {
  border: unset;
  height: 140px;
}
.addblog_popup .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-width: unset;
  border-radius: 12px;
}

.bg-service .slick-prev, .bg-service .slick-next {
  top: 38%;
}
.action-btn img, .delete-btn img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(119%) hue-rotate(161deg) brightness(114%) contrast(100%);
}
.action-btn:hover img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(5997%) hue-rotate(350deg) brightness(99%) contrast(105%);
}
.delete-btn:hover img{
  filter: brightness(0) saturate(100%) invert(38%) sepia(15%) saturate(2733%) hue-rotate(98deg) brightness(102%) contrast(85%);
}


.list-blog-text p, .list-blog-text h2, .list-blog-text h3, .list-blog-text h5, .list-blog-text h4 {
  display: none;
}
.list-blog-text p:nth-child(1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}




.activesibebar ~ .content-area {
  transition: all .2s;
}
.slidebarmain.activesibebar {
  display: block;
  transition: all .2s;
}
.content-area {
  transition: all .2s;

}

.slidebarmain{
  display: none;
  transition: all .2s;
}
.blog-list-heading {
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.single-blog p strong {
  font-size: 17px;
}
.single-blog h2 strong {
  font-size: 22px;
}
.home-varified-slider .slick-track {
  width: unset !important;
}
.home-restaurant{
  white-space: unset !important;
}
.restaurant-text{
  min-height: 160px;
}
/* responisive-19-06-2023 */
@media only screen and (max-width:1279px){
  .content-area {
    margin-left: auto;
  }
  .activesibebar ~ .content-area {
    width:calc(100% - 25%)
  }
}
@media only screen and (max-width:1023px){
  .activesibebar ~ .content-area {
    width:calc(100% - 30%)
  }
}
@media only screen and (max-width:767px){
  .services-image {
    background-image: none !important;
  }
  .slick-slider button::before {
    
    height: 40px;
    width: 40px;
  }
  .bg-service button.slick-arrow.slick-prev {
    left: 8px;
  }
  .bg-service button.slick-arrow.slick-next {
    right: 26px;
  }
  .slidebarmain.activesibebar {
    display: none;
  }
  .slidebarmain {
    display: block;
    position: absolute;
    max-width: 320px;
    height: 100vh;
    width: 100%;
}
  .activesibebar ~ .content-area {
    width: 100%;
}
}

@media only screen and (max-width:580px){
  .MuiStepper-root.MuiStepper-horizontal{
  width: 100%;
}
.css-ascpo7-MuiStepLabel-root {
  flex-direction: column;
}
.css-z7uhs0-MuiStepConnector-line{
  display: none;
}

}

@media only screen and (min-width:768px){
  .direction-row-class:nth-child(odd) .direction-row-inner .service-img {
    padding-right: 1.5rem;
    padding-left: 0;
  }
  .direction-row-class:nth-child(odd) .direction-row-inner .service-text {
    padding-right: 0;
    padding-left: 1.5rem;
  }
  .direction-row-class:nth-child(odd) .direction-row-inner {
    flex-direction: row-reverse;
  }
}


@media only screen and (min-width:1200px){
.admin-body {
  height: calc(100vh - 156px);
  overflow-y: scroll;
}
}
@media only screen and (min-width:1280px){
  .activesibebar ~ .content-area {
    margin-left: 350px;
  }
  .content-area {
    margin-left: 0;
  }
}